@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto+Mono&display=swap');

html{
    height: 100%;
}

body{
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 40px 25px;
    font-family: 'Poppins', sans-serif;
    color: #a357cf;
    background-image: linear-gradient(30deg, #C1ABFF 0%, #FF8FB6 70%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 17px;
}

button{
    text-decoration: none;
}

.btn{
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}

#main{
    height: auto;
    width: clamp(360px, 100%, 1000px);
    background-color:#FAFAFA;
    border-radius: 24px;
    border: dashed 2px #FF739D;
    padding: 50px 75px;
    padding-bottom: 65px;
}

#titleHeader{
    padding-bottom: 35px;
}

#divider1{
    border: 0;
    border-top: 2px dashed #FF739D;
    opacity: 1;
    background-image: none;
    color: white;
    width: clamp(10rem, 100%, 27rem);
}

#buttonHome, #buttonAbout, #buttonWorks{
    font-size: 22px;
    margin: 10px;
    padding: clamp(4px 0px, 4px 115px, 100%);
    border-radius: 16px;
    border: solid 2px #c64bcf;
    background-color: white;
    color:#9e50cc;
    height: auto;
    width: clamp(100px, 100%, 379px);
    transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

#buttonHome:hover, #buttonAbout:hover, #buttonWorks:hover{
    transform: scale(1.0756);
}

#buttonHome:disabled, #buttonAbout:disabled, #buttonWorks:disabled{
    opacity: 1;
}

#testimage{
    height:auto;
    align-items: center;
    width:100%;
    border-radius: 17px;
}

#divider2{
    border: 0;
    border-top: 2px solid #FF739D;
    opacity: 1;
    background-image: none;
    margin-top: 65px;
    color: transparent;
    padding: 12px;
}

#homeImage{
    width: 80%;
    height: auto;
    border-radius: 17px;
}

#personalInfoList{
    font-size: 18px;
}

#careerObjective{
    text-align: justify;
}

#iframe-container{
    width: 100%;
    height: auto;
}

#jshkart{
    height:auto;
    width: clamp(45%, 65%, 65%);
    border-radius: 12px;
}

#footer{
    opacity: 0.75;
}