@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto+Mono&display=swap');

html{
    height: 100%;
}

body{
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 40px 25px;
    font-family: 'Poppins', sans-serif;
    color: #bb6fe7;
    background-image: linear-gradient(30deg, #C1ABFF 0%, #FF8FB6 70%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button{
    text-decoration: none;
}

.main{
    height: auto;
    width: clamp(360px, 100%, 1000px);
    background-color:#FAFAFA;
    border-radius: 24px;
    border: dashed 2px #FF739D;
    padding: 50px 50px;
    padding-bottom: 65px;
}

#titleHeader{
    padding-bottom: 35px;
}

#divider1{
    border: 0;
    border-top: 2px dashed #FF739D;
    opacity: 1;
    background-image: none;
    color: white;
    width: 25rem;
}

.button{
    font-size: 22px;
    margin: 10px;
    padding: 4px 115px;
    border-radius: 16px;
    border: solid 2px #c64bcf;
    background-color: white;
    color:#9e50cc;
    height: auto;
    width: auto;
}

#testimage{
    height:auto;
    align-content: flex-end;
    width:75%;
    border-radius: 17px;
}

#divider2{
    border: 0;
    border-top: 2px solid #FF739D;
    opacity: 1;
    background-image: none;
    margin-top: 65px;
    color: transparent;
    padding: 12px;
}

#works, #about, #home{
    display: none;
    background-color: transparent;
}

.inner-container-works, .inner-container-about, .inner-container-home{
    display: none;
    background-color: transparent;
}